<app-navbar></app-navbar>

<!-- Main Content Area -->
<div class="container-fluid my-4">
  <div class="row">
    <!-- Main Content -->
    <div class="col-md-9">
      <!-- Header inside main content -->
      <header class="bg-primary text-white">
        <h2 class="title-level-2" ngNonBindable>Welcome, {{customer_name}} </h2>
        <p class="body-md-regular mb-0">You have 2 new notifications</p>
      </header>
      <app-data-grid></app-data-grid>
    </div>

    <!-- Sidebar -->
    <div class="col-md-3 ps-0">
      <div class="card mb-3">
        <div class="card-header py-3">
          <h5 class="card-title body-sm mb-0">Recently Available DataSets</h5>
        </div>
        <div class="card-body p-0">
          <app-recent></app-recent>
        </div>
      </div>
      <div class="card">
        <div class="card-header py-3">
          <h5 class="card-title body-sm mb-0">Activity</h5>
        </div>
        <div class="card-body pb-2">
          <app-activity></app-activity>
        </div>
      </div>
    </div>
  </div>
</div>